/*
================================
BASES
================================
*/

body {
    color: #838282;
    font-size: 14px;
    font-family: "Rokkitt", sans-serif;
    line-height: 1.57142857143;
}

h2 {
    color: #f87f12;
    line-height: 1,1;
}
